<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>JXPrint test</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-button style="width:100px;height:50px" (click)="connectPrinter()">连接打印机</ion-button>
    <ion-button style="width:100px;height:50px" (click)="closeConnect()">断开连接</ion-button>
    <ion-button style="width:100px;height:50px" (click)="setPaperType()">设置纸类型</ion-button>
    <ion-button style="width:100px;height:50px" (click)="setDensity()">设置浓度</ion-button>
    <ion-button style="width:100px;height:50px" (click)="printSelfCheck()">打印自检页</ion-button>
    <ion-button style="width:100px;height:50px" (click)="printText()">打印文本</ion-button>
    <ion-button style="width:100px;height:50px" (click)="printBarCode()">打印条码</ion-button>
    <ion-button style="width:100px;height:50px" (click)="printImage()">打印图片</ion-button>
    <ion-button style="width:100px;height:50px" (click)="printTable()">打印表格</ion-button>
    <ion-button style="width:100px;height:50px" (click)="setPaperFeed()">走纸</ion-button>
    <ion-button style="width:100px;height:50px" (click)="setPaperBack()">退纸</ion-button>
    
</ion-content>
